@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto&display=swap');


body {
  --primary: #080808;
  --secondary: #9e4770;
  --white: rgb(250, 250, 250);
  --gray: rgba(129, 125, 125, 0.801);
  --black: #19111d;
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: 50px 700px 50px 450px 1fr 200px;
  grid-template-areas: "menu menu""header header""nav nav""conditions conditions""gallery gallery""footers footers";
  max-width: 1920px;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Monserrat';

}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Navbars */
.header-top {
  grid-area: menu;
}

.navbar ul.social,
.nav-bottom {
  display: flex;
  margin-top: 0px;
  padding-left: 0%;
}

.navbar ul.social li {
  margin-right: 20px;
  letter-spacing: 1px;
}

.navbar ul.social li a,
.nav-bottom li a {
  color: var(--white);
  display: block;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
}

.navbar-top.navbar,
.navbar.navbar-inverse {
  background-color: var(--gray);
  width: 100%;
  height: 60px;
  margin-bottom: 0;
}

.navbar-top .container.navbar-container,
.container.navbar-container,
.navbar.navbar-inverse,
div.container-bottom {
  display: flex;

}

/* Navbar-top */
.navbar-top.navbar {
  top: -10px;
  position: fixed;
}

.navbar-top .container.navbar-container,
.container.navbar-container {
  justify-content: space-between;
  padding: -10px 0%;
  align-items: center;

}

/* Banner - header */
section.banner {
  grid-area: banner;


}

section.banner>*,
section.header-bottom>*,
section.conditions,
section.gallery {
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

img.slider {
  top: 50px;
  width: 100%;
  max-width: 1800px;
  max-height: 700px;

}

.dots {
  top: 700px;

}

.dots span {
  display: inline-block;
  background-color: rgb(255, 253, 253);
  margin: 0 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px white;
}

.dots span.active {
  box-shadow: 0 0 0 5px white, 0 0 3px 10px black;
}

/* Navbar bottom */
.header-bottom {
  grid-area: nav;
}

div.container-bottom {
  height: 50px;
  width: 1800px;
  margin-top: -10px;

}

.nav-bottom {
  flex-grow: 1;
  justify-content: space-around;
}

.nav-bottom li {
  letter-spacing: 3px;
  font-size: 22px;
}

.navbar.navbar-inverse {
  max-width: 1800px;

}

/* Gallery */
.gallery,
.conditions {
  grid-area: gallery;
  display: flex;
  margin-top: 20PX;

}

.gallery .images,
.condition {
  flex-grow: 1;
  /* kontener flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.image {
  flex-basis: 30%;
  position: relative;

}

.image a {

  overflow: hidden;
  flex-basis: calc(50% - 40px);
  /* flex-grow: 1; */
  height: 20%;
  margin: 0px 20px;

}

.image h2 {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: var(--primary);
  opacity: 0.5;
  color: var(--white);


}

.image img {
  min-width: 50%;
  min-height: 50%;
  border-radius: 10%;
}

.zoom {
  filter: brightness(70%);
}

/* Conditions */
.conditions,
.images {
  grid-area: conditions;
  max-width: 1800px;
  width: 100%;
  top: 810px;
}

div.condition {
  text-align: center;
  /* margin-left: 50px; */
  flex-basis: 25%;
  margin: 20px;

}

.condition h2 {
  font-weight: bold;
}


/* footer */


#myFooter {
  grid-area: footers;
  background-color: var(--gray);
  width: 100%;
  color: var(--white)
}


.row.justify-content-around {
  margin: 10px auto;
}


.row.justify-content-around h3 {
  text-decoration: underline;
  font-weight: bold;

}

.row.justify-content-around a {
  text-decoration: none;
  color: var(--white);
}

.row.justify-content-around a:hover {
  text-decoration: underline;

}

.row.justify-content-between {
  margin-top: 7px;
  opacity: 0.8;
}




.product-card figure {
  text-align: center;
  padding: 5px;
}

#cart h3 {
  margin-top: 50px;
}

#cart .cart-item {
  margin-bottom: 10px;
  padding: 20px;
}

.product-card .card-footer {
  justify-content: center;
}

.product-card .card-footer form {
  display: block;
  width: 100%;
}

.admin>div.container {
  margin: 40px 10%;
}

.admin .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin table {
  width: 100%;
}

.admin table th:first-of-type {
  width: 50%;
}

.admin table td:first-of-type {
  width: 50%;
}

.admin table td {
  vertical-align: middle;
}

.product-card .card-footer button {
  border: none;
  width: 100%;
  height: 50px;
}

.product-card .card-footer button i {
  margin-right: 10px;
}

#cart .cart-item h3 {
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  position: relative;
}

.quantity:before {
  content: '#';
  position: absolute;
  z-index: 10;
  top: 0;
  right: 5px;
  bottom: 0;
  display: flex;
  align-items: center;
  color: gray;
}

.cart-right .field {
  margin-bottom: 0 !important;
}

.price {
  margin: 0 20px;
}

.cart-right {
  display: flex;
  align-items: center;
}