.shop {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'shopFiltres shopBanner shopBanner'
        'shopFiltres  allShop allShop';
    max-width: 1800px;
    margin-top: 5%;
}

.shopFiltres {
    grid-area: shopFiltres;
    max-width: 400px;
    font-size: 0.7rem;
}

.shopBanner {
    grid-area: shopBanner;
    width: 100%;
    min-height: 300px;
    background: url(/images/layout/logo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.field h1 {
    top: 0%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    text-align: center;
    padding: 8px 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

div.input-group {
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    border: 2px solid orangered;
    transition: 0.3s;
}

div.mb-3 {
    margin-bottom: 0 !important;
}

button.btn {
    color: white;
    background-color: rgba(0, 0, 0, .4);

}

.allShop {
    grid-area: allShop;
    background-color: cadetblue;
}



#cart h3 {
    margin-top: 50px;
}

#cart .cart-item {
    margin-bottom: 10px;
    padding: 20px;
}

.product-card .card-footer {
    justify-content: center;
}

.product-card .card-footer form {
    display: block;
    width: 100%;
}

.admin>div.container {
    margin: 40px 10%;
}

.admin .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin table {
    width: 100%;
}

.admin table th:first-of-type {
    width: 50%;
}

.admin table td:first-of-type {
    width: 50%;
}

.admin table td {
    vertical-align: middle;
}

.product-card .card-footer button {
    border: none;
    width: 100%;
    height: 50px;
}

.product-card .card-footer button i {
    margin-right: 10px;
}

#cart .cart-item h3 {
    margin: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    position: relative;
}

.quantity:before {
    content: '#';
    position: absolute;
    z-index: 10;
    top: 0;
    right: 5px;
    bottom: 0;
    display: flex;
    align-items: center;
    color: gray;
}

.cart-right .field {
    margin-bottom: 0 !important;
}

.price {
    margin: 0 20px;
}

.cart-right {
    display: flex;
    align-items: center;
}