.shop {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'shopFiltres shopBanner shopBanner'
        'shopFiltres  allShop allShop';
    max-width: 1800px;
    margin-top: 7%;
}

.shopFiltres {
    grid-area: shopFiltres;
    max-width: 400px;
    font-size: 0.7rem;
}

.shopBanner {
    grid-area: shopBanner;
    width: 100%;
    min-height: 300px;
    background: url(/images/layout/logo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.field h1 {
    top: 0%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    text-align: center;
    padding: 8px 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

div.input-group {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    border: 2px solid orangered;
    transition: 0.3s;
}

div.mb-3 {
    margin-bottom: 0 !important;
}

button.btn {
    height: 80%;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    font-size: 1.2rem;
}

button.btn i {
    margin-right: 0;
}


.allShop {
    grid-area: allShop;

}

.image.shopProduct {
    max-height: 300px;
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: stretch;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    box-shadow: 20px 20px rgba(0, 0, 0, .15);
    transition: all .4s ease;
}

.image.shopProduct img {
    object-fit: contain;
    width: 100%;
    min-height: 50%;
    max-height: 130px;
    margin-top: 10px;
    align-self: center;
    border-radius: 0;
}

.image.shopProduct h3,
.image.shopProduct h5 {
    text-align: center;
    font-size: 0.8em;
    margin: 10px 0;

}

.shopProduct a {
    text-decoration: none;
    color: black;
}

.shopProduct form {
    flex-grow: 1;
    /* kontener */
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;

}


.shopProduct button i {
    margin-left: 5px;
}

.shopProduct button:hover {
    border-bottom: 4px solid rgba(0, 0, 0, .4);
}

.shopProduct a:hover {
    font-size: 1.1rem;
    color: black;
}

.sort {
    margin-bottom: 10px;
    font-size: 10px;

}

#cart h3 {
    margin-top: 50px;
}

#cart .cart-item {
    margin-bottom: 10px;
    padding: 20px;
}

.product-card .card-footer {
    justify-content: center;
}

.product-card .card-footer form {
    display: block;
    width: 100%;
}

.admin>div.container {
    margin: 40px 10%;
}

.admin .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin table {
    width: 100%;
}

.admin table th:first-of-type {
    width: 50%;
}

.admin table td:first-of-type {
    width: 50%;
}

.admin table td {
    vertical-align: middle;
}

.product-card .card-footer button {
    border: none;
    width: 100%;
    height: 50px;
}

.product-card .card-footer button i {
    margin-right: 10px;
}

#cart .cart-item h3 {
    margin: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    position: relative;
}

.quantity:before {
    content: '#';
    position: absolute;
    z-index: 10;
    top: 0;
    right: 5px;
    bottom: 0;
    display: flex;
    align-items: center;
    color: gray;
}

.cart-right .field {
    margin-bottom: 0 !important;
}

/* .price {
    margin: 0 20px;
} */

.cart-right {
    display: flex;
    align-items: center;
}